@media screen and (max-width : 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .nav-left {
        align-items: center;
        text-align: center;
    }


    .nav-right form {
        margin-top: 12px;
    }

    .content-right img {
        display: none;
    }

    .article {
        flex-direction: column;
        width: 90%;
        scroll-snap-align: start;
    }

    .article-img img {
        width: 330px;
        height: 200px;
    }

    .home-articles h2 {
        text-align: left;
    }

    .year-box {
        display: flex;
        margin: 0px 100px;
        text-align: center;
        margin-top: 25px;
    }

    .year-box h3 {
        font-size: 25px;
        font-weight: unset;
    }

    .year-box div {
        margin: 0 12px;
    }

    .contact-content {
        height: 60vh;
    }
    .contact-form {
        width: 70vw; 
    }

    .form-box {
        width: 85%;
        margin-bottom: 12px;
    }

    .form-box input,
    .form-box textarea {
        font-size: 15px;
        /* Slightly smaller font for better fit */
    }

    .form-box button {
        font-size: 15px;
        padding: 10px;
    }

    .row {
        display: flex;
        gap: 20px; 
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px; 
      }
      .row::-webkit-scrollbar {
        height: 8px; 
      }
      
      .row::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
      }
      
      /* .article {
        
      } */
      
}