* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 237, 253);
}

.navigation {
    height: 70px;
    font-family: var(--font1);
    background-color: rgb(218, 218, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.nav-left {
    font-size: 30px;
    display: flex;
}

.nav-left span {
    font-size: 30px;
    font-weight: bold;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.nav-left ul li {
    font-family: var(--font2);
    list-style: none;
    font-size: 20px;
    margin: 0 14px;

}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: black;
    font-weight: bolder;
}

.nav-right {}

.content {
    display: flex;
    height: 355px;
    /* background-color: #d6d6d9; */
    margin: 40px auto;
    /* padding: 0px; */
    position: relative;
}

.content::after {
    content: "";
    background-image: url("../img/cricket.svg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.10;
}

.content-left {
    font-family: var(--font2);
    /* width: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
    z-index: 1;
}

.content-right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    width: 355px;
    border: 1px solid black;
}

.home-articles {
    /* height: 455px; */
    background-color: #e3faff;
    ;
    padding-top: 12px;
}

.article {
    display: flex;
    margin: 25px;
}

.article-img img {
    width: 355px;
    height: 200px;
    border: 1px solid black;
}

.article-content {
    align-self: center;
    padding: 25px;
    font-family: var(--font2);
}

.article-content a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 15px;

}

.article-content  div {
    display: block;
    margin-bottom: 12px;

}


.footer {
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}